body {
	background-color : steelblue;
	margin : 0px;
}

header {
	background : #3B698F;
}

header > h1 {
	margin-top : 10px;
	margin-bottom : 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size : 32px;
	text-align: left;
	color: white;
	background-color: transparent;
}

.centered-blocks {
	text-align: center;
}

#soundLvl {
	width: 100px;
	height: 100px;
	border-radius : 50px;
	background-color: white;
	opacity: 0.5;
	position: relative; 
	bottom: 120px;
}

#video {
	width : 95%;
}

#canvas {
	position: relative; 
	bottom: 100px;
}

#video, #canvas {
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	-moz-transform:rotateY(180deg); /* Firefox */
}
