html { 
	height: 100vh;
	overflow: hidden;
}
body {
	background-color : steelblue;
	margin : 0px;
	height: 100%; 
}

header {
	background : #3B698F;
	padding-left: 20px;
	overflow: hidden;
}

header > h1 {
	margin-top : 10px;
	margin-bottom : 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size : 32px;
	float: left;
	color: white;
	background-color: transparent;
}

.main {
	overflow: hidden;
}

#video-con {
	width : 100vmin;
	max-width: 97%;
	height: 99%;
	margin: 2% auto;
	background : white;
	position: relative;
}

.gallery_preview {
	height: 100%;
	overflow: hidden;
	margin: 10px 0px;
}

.gallery_preview > ul {
	list-style: none;
	padding : 0px;
	margin: 0px 10px;
	height : 100%;
	width: 100%;
	overflow: auto;
	white-space: nowrap;
}

.gallery_preview > ul > li {
	display: inline-block;
	width: 64px;
	background: lightsteelblue;
	border-radius: 3px;
	margin: 3px;
	border : 2px solid transparent;
}

.gallery_preview > ul > li > img {
	width: 60px;
	height: 60px;
	margin: 2px;
}

.gallery_preview > ul > li:hover {
	border : 2px solid white;
}

.centered-blocks {
	text-align: center;
}

.control {
	position: absolute; 
	top: 5vmax;
	left: 5vmax;
}

#soundLvl {
	width: 10vmax;
	height: 10vmax;
	border-radius : 50%;
	background-color: white;
	opacity: 0.5;
}

#video {
	width : 100vmin;
	max-width: 97%;
	height: 99%;
	background: black;
	margin-top: 1%;
}

#canvas {
	position: absolute; 
	bottom: 100px;
}

#video, #canvas {
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	-moz-transform:rotateY(180deg); /* Firefox */
}

footer {
	background : #3B698F;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
